<section data-ng-controller="HomeController">

	<div class="container">
		<h2>Welcome</h2>
		<p>This a quote prototype for a client to the Open FDA Api web service.</p>
		<p>This application allows users to...</p>
        <ul>
            <li>
                Search the Open FDA Api for Food Enforement Recalls that took place in a specified state for a user supplied, range of dates.
            </li>
        </ul>
	</div>

	<div class="container">
		<div class="col-md-3" ng-hide="true">
			<h2>
				<strong>M</strong>edication
			</h2>
		    <p>Create alerts for<a href="/#!/medications"> mediction recalls</a></p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>F</strong>ood
			</h2>
			<p ng-hide="{{isAuth}}">View reports of food recalls.<br/><b>Must be logged in.</b></p>
			<p ng-show="{{isAuth}}">View reports of <a href="/#!/foodEnforcements">food recalls.</a></p>
		</div>
	    <div class="col-md-3" ng-hide="true">
	        <h2>
	            <strong>D</strong>evices
	        </h2>
	        <p>Manage <a href="/#!/devices">devices</a> you want to be alerted on</p>
	    </div>
        <div class="col-md-3" ng-hide="true">
            <h2>
                <strong>A</strong>reas
            </h2>
            <p>Manage <a href="/#!/areas">areas</a> you want to be alerted on</p>
        </div>
	</div>

	<div class="well">
		<div class="container">
			<h2>Additional Information</h2>
			<p>
				Info Links
				<ul>
					<li><a target="_blank" href="http://www.ardentmc.com">ArdentMC</a>
					</li>
				</ul>
			</p>
		</div>
	</div>

</section>
