<section data-ng-controller="HomeController">

	<div class="container">
		<h2>Welcome</h2>
		<p>NoshAlert is your resource for discovering food-related incidents reported in your area and around the country.</p>
        <ul>
            <li>
				See my food alerts now! - <a href="/#!/foodEnforcements">Search Food Recalls.</a>
			</li>
        </ul>
	</div>

	<div class="container"  ng-hide="true">
		<div class="col-md-3" ng-hide="true">
			<h2>
				<strong>M</strong>edication
			</h2>
			<p>Create alerts for<a href="/#!/medications"> mediction recalls</a></p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>F</strong>ood
			</h2>
			<p >View reports of <a href="/#!/foodEnforcements">food recalls.</a></p>
		</div>
		<div class="col-md-3" ng-hide="true">
			<h2>
				<strong>D</strong>evices
			</h2>
			<p>Manage <a href="/#!/devices">devices</a> you want to be alerted on</p>
		</div>
		<div class="col-md-3" ng-hide="true">
			<h2>
				<strong>A</strong>reas
			</h2>
			<p>Manage <a href="/#!/areas">areas</a> you want to be alerted on</p>
		</div>
	</div>

	<div class="well">
		<div class="container">
			<h2>Additional Information</h2>
			<p>
				Info Links
				<ul>
					<li><p>US Food and Drug Administration - <a target="_blank" href="http://www.fda.gov">http://www.fda.gov</a></p>
					</li>
					<li><p>Open FDA API - <a target="_blank" href="https://open.fda.gov">https://open.fda.gov</a></p>
					</li>
				</ul>
			</p>
		</div>
	</div>

</section>
