<section data-ng-controller="DrugsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Drug Events</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="drugevent in drugEventList" data-ng-href="#!/drugEventList/{{drugevent['@id']}}" class="list-group-item">
            <small class="list-group-item-text">
                Report date:
                <span data-ng-bind="drugevent.receivedate"></span>
                Report Number:
                <span data-ng-bind="drugevent.safetyreportid"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="drugevent.patient.drug[0].medicinalproduct"></h4>
            <p class="list-group-item-text" data-ng-bind="drugevent.patient.reaction[0].reactionmeddrapt"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="drugEventList.$resolved && !drugEventList.length">
        No drug events yet...
    </div>
</section>