<div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="drug in drugList">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Safety Report: {{drug.safetyreportid}}</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>Drug Product: {{drug.patient.drug[0].medicinalproduct}}</p>
                <p>Reaction: {{drug.patient.reaction[0].reactionmeddrapt}}</p>
            </div>
        </div>
    </div>
</div>