<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
		    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
		        <div class="header-logo"></div>		        
		    </div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				ArdentMC's openFDA prototype
			</p>
		</div>
		
	</div>
	<div>
		<h2>Welcome</h2>
		<p>Application description</p>
		<p>This application allows users to...</p>
        <ul>
            <li>
                Do this
            </li>
            <li>
                Do that
            </li>
            <li>
                Do something
            </li>
            <li>
                Do something else
            </li>
        </ul>
	</div>
	<div class="row">		
		<div class="col-md-3">
			<h2>
				<strong>M</strong>edication
			</h2>
		    <p>Create alerts for<a href="/#!/medications"> mediction recalls</a></p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>F</strong>ood
			</h2>
			<p>Create alerts for<a href="/#!/foods"> food recalls</a></p>
		</div>
	    <div class="col-md-3">
	        <h2>
	            <strong>D</strong>evices
	        </h2>
	        <p>Manage <a href="/#!/devices">devices</a> you want to be alerted on</p>
	    </div>
        <div class="col-md-3">
            <h2>
                <strong>A</strong>reas
            </h2>
            <p>Manage <a href="/#!/devices">areas</a> you want to be alerted on</p>
        </div>
	</div>
	<div class="well">
		<h2>Additional Information</h2>
		<p>
			Info Links
			<ul>
				<li><a target="_blank" href="http://www.ardentmc.com">ArdentMC</a>
				</li>				
			</ul>
		</p>
	</div>
</section>