<div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="food in foodList">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{food.product_description}}</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>{{food.reason_for_recall}}</p>
            </div>
        </div>
    </div>
</div>
