

.slide-out-div {
    width: 250px;
    height: 400px;
    border: #29216d 2px solid;
    position: absolute;
    z-index:10;
}

.handle {
    position: relative;
    height: 40px;
    width: 120px;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;    
}

.handle-left {    
  -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg); 
      -ms-transform: rotate(-90deg); 
       -o-transform: rotate(-90deg); 
          transform: rotate(-90deg);
    border-right: #29216d 2px solid;
    border-bottom: #29216d 2px solid;
    border-left: #29216d 2px solid;
}

.handle-right {    
  -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg); 
      -ms-transform: rotate(-90deg); 
       -o-transform: rotate(-90deg); 
          transform: rotate(-90deg);
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
}