
html {
    min-height: 100%;
    min-width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
            
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F6F6F6), to(#7AA2CC));
    background-image: -webkit-linear-gradient(top, #F6F6F6, #7AA2CC); 
    background-image:    -moz-linear-gradient(top, #F6F6F6, #7AA2CC);
    background-image:     -ms-linear-gradient(top, #F6F6F6, #7AA2CC);
    background-image:      -o-linear-gradient(top, #F6F6F6, #7AA2CC);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F6F6F6', EndColorStr='#7AA2CC');

}
body {
    margin: 0 auto;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;
}

a, a[link] {
    color: #15428B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    color: #333;
}
h1 {
    font-size: 1.5em;
}

.wrapper {
    color: #666;
    min-width: 300px;
    width: 85%;
    padding: 170px 0 0;
    background: url("../images/ssalogo.png") no-repeat center 10px;
    margin: 10px auto 20px;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;    
    vertical-align: middle;
    align-items: center;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F6F6F6), to(#7AA2CC));
    background-image: -webkit-linear-gradient(left, #F6F6F6, #7AA2CC); 
    background-image:    -moz-linear-gradient(left, #F6F6F6, #7AA2CC);
    background-image:     -ms-linear-gradient(left, #F6F6F6, #7AA2CC);
    background-image:      -o-linear-gradient(left, #F6F6F6, #7AA2CC);
}

.important {
    font-size: 1.1em;
    margin: 10px 0;
}
.version {
    font-size: 12px;
    margin-top: 5px;
}
input[type='submit'] {
    margin: 10px;
}

.soccs-header-height {
    min-height: 70px;
    height: 70px;
}

.soccs-container-relative {
    position: absolute;
    top: 50px;
    width: 100%;
    height: -moz-calc(100% -45px); /* Firefox */
    height: -webkit-calc(100% - 45px); /* Chrome, Safari */
    height: calc(100% - 45px); /* IE9+ and future browsers */
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px
}

.hello {
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: grey;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

.navcategory-1-menu {
    height: 50px;    
    width: 100px;
    text-align: center;
    border-left:solid 1px rgb(144, 144, 144);
    border-right:solid 1px rgb(144, 144, 144);
}

.navcategory-2-menu {
    height: 50px;    
    width: 200px;
    text-align: center;
    border-left:solid 1px rgb(144, 144, 144);
    border-right:solid 1px rgb(144, 144, 144);
}

.navcategory-3-menu {
    height: 50px;    
    width: 300px;
    text-align: center;
    border-left:solid 1px rgb(144, 144, 144);
    border-right:solid 1px rgb(144, 144, 144);
}


/* AIRS report styles */
.capitalize {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 5px;
}
.green-text {
    color: green;
}
.red-text {
    color: red;
}
.star-banner {
    background: #4F81BD url("../images/star.png") repeat-x left center;
    border: 1px solid #385D8A;
    width: 100%;
    min-width: 350px;
    height: 40px;
    display: block;
}

.airs-body .heading {
    font-weight: bold;
    font-size: 1.25em;
    margin: 5px 0;
}
.airs-title-block > div {
    display: inline;
}
.airs-title-block .soccs-seal {
    background: url("../images/ssalogo.png") no-repeat;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}
.airs-title-block .text {
    float: left;
    width: 400px;
}
.airs-title-block .title
, .airs-title-block .date {
    font-weight: bold;
    font-size: 1.75em;
}
.airs-title-block .date
, .airs-title-block .prepared {
    font-style: italic;
}
.airs-title-block .prepared {
    font-size: 1.1em;
    margin: 10px 0 5px 0;
}
.airs-map-list {
    clear: both;
}
.airs-map-list ul {
    margin: 0;
}
.airs-map {
    border: 2px solid #000;
    width: 100%;
    height: 350px;
    text-align: center;
}

.float-right-big {
    float: right;
    width: 565px;
}

.float-right-small {
    float: right;
    width: 300px;
}

.float-left-auto {
    float: left;
    width: auto;
}

.block {
    display:block;
}

.clear {
    clear: both;
}

.full-width {
    width: 100%;
}

.number {
    width: 50px;
}

.results-box {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}