.loadingGraphic {
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPEAALAeI/8AAO0GBwAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAACLYSPacLtvkA7U64qGb2C6gtyXmeJHIl+WYeuY7SSLozV6WvK9pfqWv8IKoaIAgAh+QQJCgAAACwAAAAAEAAQAAACLYSPacLtvhY7DYhY5bV62xl9XvZJFCiGaReS1Xa5ICyP2jnS+M7drPgIKoaIAgAh+QQJCgAAACwAAAAAEAAQAAACLISPacLtvk6TE4jF6L3WZsyFlcd1pEZhKBixYOie8FiJ39nS97f39gNUCBEFACH5BAkKAAAALAAAAAAQABAAAAIshI9pwu2+xGmTrSqjBZlqfnnc1onmh44RxoIp5JpWN2b1Vdvn/ZbPb1MIAQUAIfkECQoAAAAsAAAAABAAEAAAAi2Ej2nC7b7YaVPEamPOgOqtYd3SSeFYmul0rlcpnpyXgu4K0t6mq/wD5CiGgAIAIfkECQoAAAAsAAAAABAAEAAAAiyEj2nC7b7akSuKyXDE11ZvdWLmiQB1kiOZdifYailHvzBko5Kpq+HzUAgRBQA7AAAAAAAAAAAA);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
}
html {
  height: 100%;
  width: 100%;
}
html body {
  font-family: sans-serif;
  font-size: .9em;
  height: 100%;
  width: 100%;
  background: #ecf0f1;
}
a {
  font-size: 1em;
  text-decoration: none !important;
  border-bottom: 1px dotted;
  color: #b01e23;
}
a:hover {
  color: #9dbdc6;
}
input {
  padding: 3px;
  border: 1px solid #b01e23;
  outline: none;
}
select {
  padding: 3px;
  border: 1px solid #b01e23;
}
select option:hover {
  background: #9dbdc6;
  color: #ffffff;
}
.zeroContent {
  position: relative;
  height: 100%;
  width: 100%;
}
.zeroPosition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.usss-first_adjacentcentered {
  font-weight: bold;
  display: inline-block;
}
.usss-first_adjacentcentered,
.usss-second_adjacentcentered {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.usss-inputItem {
  padding: 0;
  margin: 4px 4px 4px 0;
}
.usss-inputItem label {
  width: 70px;
  text-align: right;
  display: inline-block;
}
.usss-inputGroup {
  padding: 5px 10px 5px 10px;
}
.usss-sectionHeader {
  width: 100%;
  height: 29px;
  background-color: #717171;
}
.usss-sectionHeader .usss-boxBorderBottom {
  height: 5px;
  width: 100%;
  background-color: #6d8fa6;
}
.usss-sectionMenu {
  position: absolute;
  top: 29px;
  left: 0;
  bottom: 0;
  width: 150px;
  background-color: #eeeeee;
}
.usss-sectionContent {
  position: absolute;
  top: 29px;
  bottom: 0;
  left: 150px;
  right: 0;
  background-color: #ffffff;
}
.usss-contentArea {
  padding: 10px;
  height: 100%;
}
.usss-scrollable {
  overflow: auto;
}
.usss-toolBackground {
  background-color: #ecf0f1;
  height: 100%;
  width: 100%;
}
.usss-highlightedText {
  color: #b01e23;
}
.usss-menuArea {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #373737;
  color: #ffffff;
  background-image: url('/Content/images/backgroundTile.png');
}
.usss-menuArea .usss-boxBorderBottom {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #b01e23;
}
.usss-pageContentArea {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
.usss-menuItem {
  width: 100%;
  height: 25px;
}
.usss-menuItem:hover {
  background-color: #9dbdc6;
  color: #ffffff;
}
.usss-selectedMenuItem {
  background-color: #9dbdc6;
  color: #ffffff;
  width: 100%;
  height: 25px;
}
.usss-selectedMenuItem:hover {
  background-color: #9dbdc6;
  color: #ffffff;
}
.usss-selectableGroup {
  padding: 5px 10px 5px 10px;
  background: #dedede;
  color: #000000;
  margin: 2px 0;
}
.usss-selectableGroup:hover {
  background: #9dbdc6;
  color: #ffffff;
}
.usss-selectableGroup:active {
  background: #9dbdc6;
  color: #ffffff;
}
.usss-scrollInputGroup {
  padding: 5px 10px 5px 10px;
  overflow-y: auto;
}
.contentSection {
  padding: 2px 10px;
}
.usss-windowBounds {
  z-index: 99;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}
.usss-flatButtonBig {
  height: 40px;
  margin: 0;
  padding: 10px 15px 10px 15px;
  border: none;
  outline: none;
  background: #404040;
  color: #ffffff;
}
.usss-flatButtonBig:active {
  background: #6d8fa6;
  color: #ffffff;
}
.usss-flatButtonBig:hover {
  background: #d03e43;
  color: #ffffff;
}
.usss-flatButton {
  height: 29px;
  margin: 0;
  padding: 5px 10px 5px 10px;
  border: none;
  outline: none;
  background: #404040;
  color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}
.usss-flatButton:active {
  background: #6d8fa6;
  color: #ffffff;
}
.usss-flatButton:hover {
  background: #9dbdc6;
  color: #ffffff;
}
.usss-highlightItem {
  background-color: #b01e23;
  color: #ffffff;
}
.usss-inlineBlock {
  display: inline-block !important;
}
.usss-selectedItem {
  background-color: #6d8fa6;
  color: #ffffff;
}
.usss-transparentItem {
  background-color: transparent;
}
.usss-hiddenItem {
  display: none;
}
.usss-resizeAnimation {
  -moz-transition: width 1s ease-in-out, left 0.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 0.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 0.5s ease-in-out;
  transition: width 1s ease-in-out, left 0.5s ease-in-out;
}
.usss-clientView {
  height: 100%;
  width: 100%;
}
.usss-gisApiView {
  height: 100%;
  width: 100%;
  padding-left: 5px;
}
.gridStyle {
  border: 1px solid #b01e23 !important;
  width: 580px;
  height: 300px;
  background: #ffffff;
}
.gridStyle .ui-grid-cell-contents:focus {
  background-color: transparent !important;
}
.gridStyle .ui-grid-row-selected .ui-grid-cell {
  background-color: #9dbdc6 !important;
  color: #ffffff !important;
}
.pad-leftright {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-topbottom {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=Site.css.map */